* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #f0f2f5;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.page-header {
    background: #f0f2f5;
}

.container {
    max-width: 1060px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.left img {
    width: 300px;
    margin-bottom: 16px;
}

.left h1 {
    font-size: 26px;
    font-weight: normal;
    line-height: 1.3;
    max-width: 500px;
}


.right {
    text-align: center;
}

.form-container {
    width: 396px;
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 28px;

    display: flex;
    flex-direction: column;
    gap: 14px;

    box-shadow:
        0 2px 4px rgba(0,0,0,0.1),
        0 8px 16px rgba(0,0,0,0.1);
}

.form-container input {
    padding: 14px 16px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
}

.form-container input:focus {
    outline: none;
    border-color: #1877f2;
}

.forgot {
    font-size: 14px;
    color: #1877f2;
}

.forgot:hover {
    text-decoration: underline;
}

.btn {
    background: #1877f2;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.btn.green {
    background: #42b72a;
    font-size: 17px;
    width: fit-content;
    margin: 10px auto 0;
    padding: 12px 16px;
}

.btn.green:hover {
    background: #3ca727;
}

.create-page {
    font-size: 15px;
}

.create-page a {
    color: #000;
}


.page-footer {
    text-align: center;
    padding: 16px;
    font-size: 14px;
    color: #777;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        padding-top: 40px;
    }

    .left h1 {
        font-size: 22px;
    }
}
